@model AddImovelVM

<h1 class="display-1 text-center">Adicionar novo imóvel</h1>

<form asp-action="NovoImovel" method="post" role="form" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Nome">Descrição</label>
            <input asp-for="Nome" type="text" class="form-control" placeholder="Descrição do imóvel">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Preco">Preço</label>
            <input asp-for="Preco" type="text" class="form-control" placeholder="Preço do imóvel">
            <span asp-validation-for="Preco" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Quartos">Quartos</label>
            <input asp-for="Quartos" type="number" class="form-control" placeholder="Quantidade de quartos">
            <span asp-validation-for="Quartos" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Banheiros">Banheiros</label>
            <input asp-for="Banheiros" type="number" class="form-control" placeholder="Quantidade de banheiros">
            <span asp-validation-for="Banheiros" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Salas">Salas</label>
            <input asp-for="Salas" type="number" class="form-control" placeholder="Quantidade de salas">
            <span asp-validation-for="Salas" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Garagens">Garagens</label>
            <input asp-for="Garagens" type="number" class="form-control" placeholder="Quantidade de garagens">
            <span asp-validation-for="Garagens" class="text-danger"></span>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="ECondominio" value="true">
            <label class="form-check-label" for="inlineRadio1" asp-for="ECondominio">Condominio</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="EApartamento" value="true">
            <label class="form-check-label" for="inlineRadio1" asp-for="EApartamento">Apartamento</label>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="NumeroDoApCd">Número apartamento/condominio</label>
            <input asp-for="NumeroDoApCd" type="number" class="form-control" placeholder="Número do apartamento/condominio">
        </div>

        <h3 class="display-3 text-center">Endereço</h3>

        <hr />
        <div class="form-group col-md-6">
            <label asp-for="Cidade">Cidade</label>
            <input asp-for="Cidade" type="text" class="form-control" placeholder="Cidade">
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Bairro">Bairro</label>
            <input asp-for="Bairro" type="text" class="form-control" placeholder="Bairro">
            <span asp-validation-for="Bairro" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Rua">Rua</label>
            <input asp-for="Rua" type="text" class="form-control" placeholder="Rua">
            <span asp-validation-for="Rua" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Numero">Número</label>
            <input asp-for="Numero" type="number" class="form-control" placeholder="Número do imóvel">
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="CEP">CEP</label>
            <input asp-for="CEP" type="text" class="form-control" placeholder="CEP">
            <span asp-validation-for="CEP" class="text-danger"></span>
        </div>

        <h3 class="display-3 text-center">Fotos</h3>

        @*<div class="col-md 12">
            <input type="file" name="file" asp-for="File" class="button btn-outline-primary" />
            <label class="custom-file-label" for="validatedCustomFile">Fotos</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>*@
        <div class="col-md-10">
            <p><b>Select file :</b></p>
            <p>(Files with the same name will be replaced)</p>
            <input type="file" name="files" multiple class="button btn-outline-primary" />
        </div>
        <div clas="btn_salvar col-md-6">
            @*<button type="submit" class="btn btn-primary">Salvar</button>*@      
            <input class="btn btn-success" type="submit" value="Salvar" />
        </div>
    </div>
</form>