@model LoginVM


<div class="box_login">
    <h3 class="titulo_login">Login</h3>
    <p class="aviso_login">Somente administradores</p>
    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="submit" class="btn btn-success" value="Entrar" />
            </div>
        </div>
    </form>
</div>